*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0080ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box:hover input{
    width: 130px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    background: transparent;
}

.box a .fas{
    color: aquamarine;
    font-size: 18px;
}

.dropbtn{
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 16px;
    color: white;
    padding: 14px 16px;
    background-color: transparent;
}

.dropdown:hover .dropbtn:focus{
    background-color: transparent;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.5s;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
}
.dropdown-content a:hover{
    background-color: white;
    color: gray;
    border-radius: 10px;
}
.dropdown a:hover .dropdown-content{
    display: block;
}

.show{
    display: block;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px;
    font-size: 15px;
    color: white;
}

@media(max-width: 700px){
    nav img{
        width: 50px;
    }
    .text-box h1{
        font-size: 18px;
    }
    .text-box p{
        margin: 10px;
        font-size: 12px;
        color: white;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 2px 6px;
        position: relative;
    }
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
}

/*----- Recommendations -----*/

.recommendations{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: #EBF3FF;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: dimgray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media(max-width: 700px){
    h1{
        font-size: 20px;
        font-weight: 600;
    }
    p{
        color: dimgray;
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
}

/*----- All Category -----*/

.all-category{
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    background: #EBF3FF;
}

.category-science-books-text{
    flex-basis: 48%;
    padding: 30px 2px;
}
.category-science-books-text h1{
    margin-left: 130px;
    padding-top: 0;
    font-size: 30px;
}
.category-science-books-text p{
    margin-left: 100px;
    padding: 15px 0 25px;
    font-size: 17px;
}

.view-more-btn{
    display: inline-block;
    text-decoration: none;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    margin-left: 165px;
}

.view-more-btn:hover{
    border: 1px solid #0080ff;
    transition: 0.5s;
}

.category-english-books-text{
    text-align: right;
    flex-basis: 48%;
    padding: 30px 2px;
}
.category-english-books-text h1{
    margin-right: 120px;
    padding-top: 0;
    font-size: 30px;
}
.category-english-books-text p{
    margin-right: 90px;
    padding: 15px 0 25px;
    font-size: 17px;
}

.view-more-btn-2{
    display: inline-block;
    text-decoration: none;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    margin-right: 165px;
}

.view-more-btn-2:hover{
    border: 1px solid #0080ff;
    transition: 0.5s;
}

.category-math-books-text{
    flex-basis: 48%;
    padding: 30px 2px;
}
.category-math-books-text h1{
    margin-left: 143px;
    padding-top: 0;
    font-size: 30px;
}
.category-math-books-text p{
    margin-left: 100px;
    padding: 15px 0 25px;
    font-size: 17px;
}

.view-more-btn-3{
    display: inline-block;
    text-decoration: none;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
    margin-left: 165px;
}

.view-more-btn-3:hover{
    border: 1px solid #0080ff;
    transition: 0.5s;
}

@media(max-width: 700px){
    .category-science-books-text{
        text-align: center;
        flex-basis: 48%;
    }
    .category-science-books-text h1{
        margin: auto;
        padding-top: 0;
        font-size: 16px;
    }
    .category-science-books-text p{
        margin: auto;
        padding: 15px 0 25px;
        font-size: 12px; 
    }
    .view-more-btn{
        margin: auto;
        display: inline-block;
        text-decoration: none;
        color: #2B2B2B;
        border: 1px solid #2B2B2B;
        background: transparent;
        cursor: pointer;
        font-size: 12px;
    }
    .category-english-books-text{
        text-align: center;
        flex-basis: 48%;
    }
    .category-english-books-text h1{
        margin: auto;
        padding-top: 0;
        font-size: 16px;
    }
    .category-english-books-text p{
        margin: auto;
        padding: 15px 0 25px;
        font-size: 12px; 
    }
    
    .view-more-btn-2{
        margin: auto;
        display: inline-block;
        text-decoration: none;
        color: #2B2B2B;
        border: 1px solid #2B2B2B;
        background: transparent;
        cursor: pointer;
        font-size: 12px;
    }
    .category-math-books-text{
        text-align: center;
        flex-basis: 48%;
    }
    .category-math-books-text h1{
        margin: auto;
        padding-top: 0;
        font-size: 16px;
    }
    .category-math-books-text p{
        margin: auto;
        padding: 15px 0 25px;
        font-size: 12px;
    }
    
    .view-more-btn-3{
        display: inline-block;
        text-decoration: none;
        color: #2B2B2B;
        border: 1px solid #2B2B2B;
        padding: 12px 34px;
        background: transparent;
        cursor: pointer;
        margin: auto;
        font-size: 12px;
    }
}

/*----------- all books page -----------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background: #EBF3FF;
}
.nav-links-b{
    flex: 1;
    text-align: left;
}
.nav-links-b ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links-b ul li a{
    color: #333333;
    text-decoration: none;
    font-size: 18px;
}
.nav-links-b ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0080ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links-b ul li:hover::after{
    width: 100%;
}
